<% @sections.each do |section| %>
  <ul>
    <%= "SECTION-#{section.id}" %>
    <% section.clauses.each do |clause| %>
      <li > <b> <%= "CLAUSE-#-#{clause.id}" %> </b><%= clause.body %></li>
      <% end %>
  </ul>

<% end %>